<form method="POST" action="/transaction/put">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    <div class="form-group">
        <label for="description">New description:</label>
        <input type="text" class="form-control" value="<%= item.description %>" name="description" id="description">
    </div>
    <div class="form-group">
        <label for="amount">New amount:</label>
        <input type="number" class="form-control" value="<%= item.amount %>" name="amount" id="amount">
    </div>
    <div class="form-group">
        <label for="category">New category:</label>
        <input type="text" class="form-control" value="<%= item.category %>" name="category" id="category">
    </div>
    <div class="form-group">
        <label for="date">New date:</label>
        <input type="date" class="form-control" value="<%= item.date %>" name="date" id="date">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Store</button>
</form>
